 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: 'Roboto', sans-serif;
   color: #67655D;
 }

 body:before {
   background: url('https://static.pexels.com/photos/317346/pexels-photo-317346.jpeg') no-repeat fixed center;
   background-color: #D4D8D1;
   background-size: 100%;
   display: block;
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   height: 800px;
   opacity: .3;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 nav,
 footer {
   overflow: hidden;
   background-color: #332C2F;
   position: fixed;
   width: 100%;
   color: white;
   text-transform: uppercase;
 }

 nav {
   top: 0;
   height: 90px;
   font-size: 24px;
   font-weight: bold;
   padding: 30px;
 }

 footer {
   bottom: 0;
   height: 35px;
   font-size: 12px;
   padding: 10px 20px;
 }

 quiz-title {
   display: inline-block;
   margin: 0;
   padding: 0;
 }

 nav ul {
   list-style: none;
 }

 nav ul>li {
   display: inline-block;
   margin-right: 20px;
 }

 .float-right {
   float: right;
 }

 main {
   margin: 200px auto;
   /*width: 1000px;*/
 }

 button {
   padding: 20px;
   border: none;
   background-color: #577592;
   color: #ffffff;
   font-size: 18px;
   text-transform: uppercase;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
   margin-top: 20px
 }

 button:hover,
 button:focus {
   background-color: #363946;
   color: #ebca52
 }

 .quiz,
 .start-screen {
   margin: 0 auto;
   text-align: center;
   font-size: 24px;
   width: 100%;
 }

 .quiz-question,
 .quiz-answer {
   display: block;
   color: #332c2f;
   width: 100%;
   padding-top: 5px;
   padding-left: 10px;
   border-radius: 5px;
   /*margin: 10px 50px;*/
   font-size: 20px;
 }

 .quiz-question {
   /*background-color: rgb(148, 111, 47);*/
   height: 100%;
   padding-bottom: 10px;
 }

 .quiz-answer {
   background-color: #D4D8D1;
   height: 50px;
 }

 .final-score {
   font-size: 5em;
 }

 .red-text {
   color: #B74934;
 }

 .quiz-answer:hover,
 .quiz-answer:focus {
   background-color: #332C2F;
   color: #ebca52
 }

 .centerImage {
   text-align: center;
 }

 a {
   text-decoration: none;
 }

 #dialog {
   background-color: white;
   border: 10px solid #67655d;
   color: black;
   font-size: 2em;
 }

 .ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
   display: none;
 }

 .ui-dialog-title {
   display: none;
 }

 .ui-dialog-titlebar {
   background: transparent;
   border: none;
 }

 .ui-dialog .ui-dialog-titlebar-close {
   right: 0;
 }